.article {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'articleText image'
		'readNext image';

	@media screen and (768px <= width) {
		display: grid;
		width: 100%;
		position: relative;
		height: 242px;
	}

	@media screen and (width >= 1120px) {
	}

	&__content {
		//display: flex;
		//flex-direction: column;
		grid-area: articleText;
		height: 200px;
		overflow: hidden;
		margin: 0 16px;

		transition: height linear 100ms;

		@media screen and (768px <= width) {
			//position: relative;
		}

		@media screen and (width >= 1120px) {
			margin-left: 32px;
		}

		&:first-child {
			margin-top: 0;
		}

		&--text {
			margin-bottom: 16px;
			//height: 90px;

			@media screen and (768px <= width) {
				line-height: 20px;
				//max-width: 312px;
				//height: 160px;
			}

			@media screen and (width >= 1120px) {
				line-height: 20px;
				//max-width: 490px;
				//height: auto;
			}
		}

		//
		//&--top-content-margin {
		//	margin-top: 32px;
		//}

		&--read-next {
			grid-area: readNext;

			font-size: 16px;
			font-weight: 500;
			line-height: 150%;
			display: flex;
			position: relative;
			margin: 16px 0 16px 8px;
			padding: 0 0 8px 20px;
			letter-spacing: -0.01em;
			background-color: $gray-lighter;
			color: $dark;

			@media screen and (width >= 768px) {
				margin: 0 0 0 8px;
			}

			@media screen and (width >= 1120px) {
				margin: 16px 0 0 25px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 10px;
				top: 4px;
				height: 5px;
				width: 5px;
				rotate: 45deg;
				box-shadow:
					1px 1px 0 0 $green,
					3px 3px 0 0 $gray-lighter,
					4px 4px 0 0 $green;
			}
		}

		&--read-less {
			margin-top: 8px;

			&:before {
				top: 13px;
				rotate: 225deg;
			}
		}
	}

	&__image {
		grid-area: image;
		width: 100%;
		height: auto;
		max-height: 100%;
		object-fit: cover;

		@media screen and (width >= $screen-laptop) {
			border-radius: 6px;
		}

		@media screen and (width >= 1120px) {
		}
	}
}
