.repair-list {
	position: relative;

	&__card {
		display: flex;
		position: relative;

		border: 1px $light-gray solid;
		border-radius: 6px;

		&--lenovo {
			@include brand-card('../imgs/logos/Lenovo.svg');
		}

		&--samsung {
			@include brand-card('../imgs/logos/Samsung.svg');
		}

		&--apple {
			@include brand-card('../imgs/logos/Apple.svg');
		}

		&--viewsonic {
			@include brand-card('../imgs/logos/ViewSonic.svg');
		}

		&--bosch {
			@include brand-card('../imgs/logos/Bosch.svg');
		}

		&--hp {
			@include brand-card('../imgs/logos/HelpPlease.svg');
		}

		&--acer {
			@include brand-card('../imgs/logos/Acer.svg');
		}

		&--sony {
			@include brand-card('../imgs/logos/Sony.svg');
		}

		&--device {
			height: 160px;
			//flex-base 190+ paddings 16+16 + border 1+1 = 224px
			flex: 0 0 190px;
			background-color: $white;
			padding: 16px;
			@include arrowIcon();
			@include circleIcon();

			// positioning circle icon in ::after
			&:after {
				right: 16px;
				bottom: 16px;
			}

			// positioning arrow icon in ::before
			&:before {
				bottom: 30px;
				right: 33px;
			}
		}
	}

	&__title {
		margin: 16px auto 40px 32px;
		text-transform: uppercase;
	}

	&__more-btn {
		position: relative;
		margin-left: 48px;
		margin-bottom: 16px;
		background-color: $gray-lighter;

		@media screen and (width <= 767px) {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			left: -12px;
			top: 3px;
			height: 5px;
			width: 5px;
			rotate: 45deg;
			box-shadow:
				1px 1px 0 0 $green,
				3px 3px 0 0 $gray-lighter,
				4px 4px 0 0 $green;
		}
	}

	&__less-btn {
		margin-top: 8px;

		&:before {
			top: 13px;
			rotate: 225deg;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 16px 24px;
		max-width: 100%;
		margin-left: 24px;
		height: 170px;
		overflow: hidden;

		transition: height ease-in-out 400ms;

		@media screen and (width <= 767px) {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: unset;

			max-width: unset;
			margin-left: 0;
			height: fit-content;
		}
	}
}
