.swiper {
	&-wrapper {
		// no BEM-style due to swiper specification
		margin-top: 16px;
	}

	&__wrapper {
		// here doubling styles for BEM-style due to swiper specification
		margin-top: 16px;
	}

	&__fade {
		@media screen and (width <= 767px) {
			position: absolute;
			width: 34px;
			bottom: 42px;
			right: 0;
			z-index: 1;
			background: linear-gradient(270deg, $gray-lighter 16.836%, $gray-lighter-transparent 100%);

			&--brands {
				height: 74px;
			}

			&--devices {
				height: 194px;
			}

			&--prices {
				height: 232px;
			}
		}
	}
}

.swiper-pagination {
	position: relative;
	margin: 10px auto;
	// centering paginator //
	// overriding swiper styles //
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
}
