{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "printWidth": 160
}
