.body {
	&--no-scroll {
		//to be implemented in future
	}
}

.page-wrapper {
	max-width: 767px;
	background-color: $gray-lighter;
	position: relative;

	@media screen and (768px <= width) {
		max-width: 1119px;
		margin: 0 auto;
	}

	@media screen and (width >= 1120px) {
		max-width: 1440px;
		margin: 0 auto;
	}
}

.header {
	display: flex;
	flex-direction: column;
}

.desktop-wrapper {
	@media screen and (width >= 1120px) {
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
}

.title {
	margin: 0;

	&--top {
		font-size: 28px;
		font-weight: bold;
		display: flex;
		padding: 24px 16px 18px 0;

		&:before {
			display: flex;
			width: 4px;
			height: 40px;
			margin-right: 14px;
			content: '';
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			background-color: $green;

			@media screen and (width >= 1120px) {
				margin-right: 30px;
			}
		}
	}
}

.main {
	position: relative;

	@media screen and (width >= $screen-desktop) {
		&--desktop-fix {
			margin-left: 320px;
		}
	}

	&__text {
		padding: 16px;

		&--disclaimer {
			max-width: 440px;
			font-size: 14px;

			@media screen and (width >=$screen-laptop) {
				padding: 0 0 0 32px;
			}
		}
	}
}

.footer {
	color: $gray;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 30px 24px 24px 24px;
	margin-top: 50px;
	border-top: 1px solid $green-lighter;

	column-gap: 8px;

	@media screen and (width < $screen-laptop) {
		flex-direction: column;
		align-items: center;
		row-gap: 16px;
	}

	&__item {
		&--copy {
			@media screen and (width >= $screen-laptop) {
				text-align: left;
			}
		}

		&--disclaimer {
			text-align: center;

			@media screen and (width >= $screen-laptop) {
				max-width: 220px;
				text-align: right;
			}
		}

		&--privacy {
			text-align: center;
		}
	}
}

.link {
	color: inherit;
	&:visited {
	}

	&--red {
		color: $button-red;
	}
}
