.page-wrapper {
	//overflow: hidden;
	max-width: 767px;
	background-color: $gray-lighter;
	position: relative;

	@media screen and (768px <= width) {
		max-width: 1119px;
		margin: 0 auto;
	}

	@media screen and (width >= 1120px) {
		max-width: 1440px;
		margin: 0 auto;
	}
}

.header {
	display: flex;
	flex-direction: column;
}

.desktop-wrapper {
	@media screen and (width >= 1120px) {
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
}

.title {
	margin: 0;

	&--top {
		font-size: 28px;
		font-weight: bold;
		display: flex;
		padding-top: 24px;
		padding-bottom: 18px;

		&:before {
			display: flex;
			width: 4px;
			height: 40px;
			margin-right: 14px;
			content: '';
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			background-color: $green;

			@media screen and (width >= 1120px) {
				margin-right: 30px;
			}
		}
	}
}

.main {
	position: relative;

	@media screen and (width >= $screen-desktop) {
		&--desktop-fix {
			margin-left: 320px;
		}
	}

	&__text {
		padding: 16px;

		&--disclaimer {
			max-width: 440px;
			font-size: 14px;

			@media screen and (width >=$screen-laptop) {
				padding: 0 0 0 32px;
			}
		}
	}
}

.modal-blur {
	width: 100vw;
	height: 100vh;
	background-color: $dark;
	opacity: 90%;
	position: fixed;
	top: 0;
	z-index: 5;

	&--off {
		display: none;
	}
}

.kp-btn {
	font-weight: bold;
	background-color: $gray-lighter;
	text-align: left;
	margin-top: 16px;
	padding: 0 0 0 16px;

	display: flex;
	flex-direction: row;
	column-gap: 8px;

	@media screen and (width >=$screen-laptop) {
		padding: 0 0 0 32px;
	}

	@media screen and (width <= 350px) {
		max-width: 200px;
	}

	@include arrowIcon();
	&:after {
		position: static;
		align-self: center;

		scale: 0.85;
		border-top: 3px solid $button-red;
		border-right: 3px solid $button-red;

		@media screen and (width <= 350px) {
			position: absolute;
			bottom: 5px;
			left: 127px;
		}
	}
}

.footer {
	color: $gray;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 30px 24px 24px 24px;
	margin-top: 50px;
	border-top: 1px solid $green-lighter;

	column-gap: 8px;

	@media screen and (width < $screen-laptop) {
		flex-direction: column;
		align-items: center;
		row-gap: 16px;
	}

	&__item {
		&--copy {
			@media screen and (width >= $screen-laptop) {
				text-align: left;
			}
		}

		&--disclaimer {
			text-align: right;

			@media screen and (width >= $screen-laptop) {
				max-width: 220px;
			}
		}

		&--privacy {
			text-align: center;
		}
	}
}
