// Breakpoints
$screen-zero: 0;
$screen-mobile: 320px;
$screen-laptop: 768px;
$screen-desktop: 1120px;

// Colours
$white: #ffffff;

$green-lighter: #d9fff5;
$green-light: #b8ffec;
$green: #41f6d7;

$dark: #1b1c21;

$button-red: #ff3e79;

$gray-lighter-transparent: #f8f8f800;
$gray-lighter: #f8f8f8;
$gray-light: #eaeaea;
$gray: #7e7e82;