// Breakpoints
$screen-xs: 0;
$screen-sm: 320px;
$screen-m:  768px;
$screen-l:  1120px;

// Colours
$white: #fff;
$light-green: #D9FFF5;
$lighter-green: #B8FFEC;
$green: #41f6d7;
$dark: #1b1c21;
$button-red: #ff3e79;

$gray-lighter: #f8f8f8;
$gray-lighter-transparent: #f8f8f800;
$light-gray: #eaeaea;
$gray: #7E7E82;
